{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "rules": {

    "indent": [ "warn", 2, { "SwitchCase": 1 }],

    "linebreak-style": [ "error", "unix" ],

    "no-unreachable": "off",

    "no-unused-vars": [ "warn", {
      "args": "none",
      "varsIgnorePattern": "_"
     }],

    "quotes": [ "warn", "single" ],

    "semi": [ "error", "always" ],

    "react/prop-types": "off"

  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "dist"
  ]
}
