/* INPUT */

.input-container {
  @apply p-1 border-b border-white;
}

.input-container:hover {
  @apply border-gray-200
}

.input-container:focus-within {
  @apply border-teal-500;
}

input {
  @apply py-3 px-4 w-full;
  @apply rounded;
  @apply bg-gray-200;
  @apply text-gray-700;
}

input:focus {
  @apply outline-none;
  @apply bg-white;
}

label:hover input {
  @apply bg-white;
}

label:hover input:not(:focus) {
  @apply border-gray-500
}


/* LABEL */

p {
  @apply pl-1 text-sm font-light text-gray-500;
}

label:hover input:not(:focus) + p {
  @apply font-semibold text-gray-600;
}

.input-container:focus-within ~ p {
  @apply font-semibold text-teal-500;
}