.js-plotly-plot .plotly .modebar {
  display: flex;
  justify-content: center;
  width: 100%
}

/* .js-plotly-plot .plotly .modebar--hover > :not(.watermark) {
  @apply opacity-100;
} */

.js-plotly-plot .plotly .modebar-group {
  display: flex;
}
